<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Life time funny</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>
<div class="card">
  <div class="card-body">
    <form action="">
      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Enter your birth day</mat-label>
          <input #element matInput type="text" placeholder="Month-Day-Year" (change)="onChange(element.value)">
        </mat-form-field>
      </div>
    </form>
    <h3>{{ result }}</h3>
  </div>
</div>
